{% extends "layout.html" %}
{% block main-content %}

{% for msg in messages %}
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success" role="alert">
    {{msg}}
  </div>
  
  
  {% endif %}
  
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>

  {% endif %} 
{% endfor %}


    <div class="container">
      <h1 class="text-center">All category</h1>
      <div class="d-flex justify-content-center">
        <div class="col-md-7 rounded shadow">
          <table class="table table-border table-striped">
            <thead>
              <tr>
              <th>Sno.</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in category %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.name}}</td>
                <td>{{data.description}}</td>  
                <td>
                  
                  <a href="/updatecategory/{{data.id}}"  class="btn btn-secondary">Update</></a>
                  <a href="/deletecategory/{{data.id}}" onclick="return confirm('Are you sure you want to delete')" class="btn btn-danger">Delete</></a>
                </td>
              </tr>

              {% endfor %}
              
            </tbody>

          </table>

        </div>
      </div>

      </div>
    </div>

{% endblock  %}