{% extends "layout.html" %}
{% block main-content %}

{% for msg in messages %}
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success" role="alert">
    {{msg}}
  </div>
  
  
  {% endif %}
  
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>

  {% endif %} 
{% endfor %}


    <div class="container">
      <h1 class="text-center">Products</h1>
      <div class="d-flex justify-content-center">
        <div class="col-md-7 rounded shadow">
          <table class="table table-border table-striped">
            <thead>
              <tr>
              <th>Sno.</th>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actiion</th>
              </tr>
            </thead>
            <tbody>
              {% for data in product %}
              <tr>
              <td>{{forloop.counter}}</td>
                <td><img src="{{data.image}}" alt="" width="100px" height="100px"></td>
                <td>{{data.name}}</td>
                <td>{{data.category}}</td>
                <td>Rs.{{data.price}}</td>
                <td>{{data.quantity}}</td>
                
              </tr>

              {% endfor %}
              
            </tbody>

          </table>

        </div>
      </div>

      </div>
    </div>

{% endblock  %}