{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block main-content %}


<div class="container my-3">
  <div class=" col-md-flex  col-md-5 rounded border p-4 shadow">
    
    <form action="" method="post">
      <h2 class="text-center">Sign Up form</h2>
      <hr>
      {% csrf_token %}
      {{Form | crispy}}

      <div class="my-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock main-content %}